.about-page {
  max-width: 100%;
  margin: 0;
  padding: 60px 24px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  ), url('./images/banner1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 0;
  box-shadow: none;
  min-height: 500px;
}



.about-page h1 {
  margin-top: 0;
  margin-bottom: 50px;
  align-items: center;
  color: hsl(17, 100%, 1%);
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about-page p {
    align-items: center;
  margin: 5px 0;
  color: #d29a9a;
  font-size: 16px;
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.about-page img {
  width: 50%;
  border-radius: 50px;
  margin-top: 20px;
}
  