.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 5px 15px;
  color: rgb(0, 0, 0);
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px; /* space between logo and text */
}

.logo {
  width: 35px;
  height: 35px;
}

.menu {
  display: flex;
  list-style: none;

  gap: 20px;
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
}